@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color: #999f42;
    cursor: url(../img/icon_cur/1.cur), auto;
}

.game{
    width: 100%;
    height: 100vh;
    background-image: url(../img/fon/fon.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: block;
}

#header_game{
    background-image: url(../img/fon/fon_menu.jpg);
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0;
}

.header_game__resources{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin-left: 10%;
}

.header_game__resources div{
    width: 33%;
    margin: 0.5% 0;
    padding: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_game__resources img{
    width: 20%;
    margin: 0;
    padding: 0%;
    margin-right: 10px;
}

.header_game__resources p{
    font-size: 30px;
    font-family: 'Pangolin', cursive;
    margin: 0;
    padding: 0;
}

#menu_window{
    position: absolute;
    display: none;
    width: 25%;
    height: 60%;
    top: 20%;
    left: 37%;
    z-index: 2;
    background-color: rgb(0, 110, 255);
    border: 5px solid rgb(3, 66, 148);
    border-radius: 5px;
    padding: 0.5%;
}

.menu_element{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    font-size: 25px;
    font-family: 'Pangolin', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_element__titl{
    text-align: center;
    font-size: 35px;
    font-family: 'Pangolin', cursive;
    margin-bottom: 4%;
}

.menu_element__button{
    width: 80%;
    border: 5px solid rgb(9, 76, 163);
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    margin: 4%;
}

.menu_info{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
}

.menu_element__info{
    font-size: 15px;
    font-family: 'Pangolin', cursive;
    margin: 0%;
    padding: 0%;
}

#author_window{
    position: absolute;
    display: none;
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    z-index: 4;
    background-color: rgb(0, 110, 255);
    border: 5px solid rgb(3, 66, 148);
    font-size: 15px;
    font-family: 'Pangolin', cursive;
}

.author_element{
    padding: 2%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.author_element__titl{
    text-align: center;
    font-size: 35px;
    font-family: 'Pangolin', cursive;
    margin: 1%;
    padding: 0%;
}

.author_element a, li{
    font-size: 15px;
    font-family: 'Pangolin', cursive;
}

.menu_info__button{
    width: 50%;
    border: 5px solid rgb(8, 54, 114);
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    margin: 2%;
}

#eris_window{
    position: absolute;
    width: 40%;
    bottom: 0%;
    right: 0%;
    z-index: 3;
}

.eris_element{
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
}

.eris_element__message{
    width: 100%;
    background-color: rgba(190, 98, 22, 0.808);
    border: 5px solid rgba(116, 59, 12, 0.918);
    border-radius: 15px;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    text-align: center;
}

#eris_window img{
    width: 35%;
    margin: 1% 1% 0 1%;
}

#element__name{
    position: absolute;
    display: none;
    width: 40%;
    height: 40%;
    background-color: rgba(190, 165, 22, 0.808);
    border: 5px solid rgba(116, 109, 12, 0.918);
    top: 30%;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mineral_name{
    width: 60%;
    font-size: 30px;
    font-family: 'Pangolin', cursive;
    background-color:rgba(153, 145, 40, 0.822);
    border: 5px solid  rgba(190, 89, 22, 0.973);
    padding: 1.5%;
}

#mineral_name__button{
    width: 40%;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
    background-color:rgba(59, 153, 40, 0.705);
    border: 2px solid  rgba(65, 233, 31, 0.733);
    border-radius: 10px;
    margin-top: 1%;
    cursor: url(../img/icon_cur/1.cur), auto;
}


@keyframes warehouse_window__bottom{
    0%{top: 7%;}
    100%{top: 10%;}
}

#warehouse_window{
    display: none;
    position: absolute;
    height: 80%;
    width: 60%;
    top: 10%;
    left: 20%;
    border: 4px solid rgb(87, 67, 13);
    background-color: rgba(97, 71, 1, 0.918);
    z-index: 1;
    animation: warehouse_window__bottom 0.09s 1;
}

.warehose_window__header{
    display: flex;
    justify-items: center;
}

.widow_heading{
    font-family: 'Neucha', cursive;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-top: 1%;
    width: 90%;
}

.widow_close{
    text-align: end;
    width: 10%;
}

.warehouse_element{
    display: flex;
    justify-content: center;
    align-items: center;
}

.warehouse_element__arrow{
    width: 10%;
}

#warehouse_element__scroll{
    width: 0px;
    margin: 0px;
    padding: 0;
    border: none;
    transition: 0.5s all;
}

.warehouse_element__icon{
    width: 90%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.warehouse_element__icon div{
    width: 150px;
    padding: 10px;
    margin: 0 5px;
    border: 3px solid rgb(66, 51, 10);
    position: relative;
}

.warehouse_element__icon div p{
    font-size: 20px;
    font-family: 'Pangolin', cursive;
    width: 150px;
    padding: 0;
    margin: 5%;
}

.warehouse_element__icon div img{
    width: 50%;
    display: block;
    margin: auto;
}

.warehouse_element__icon div input{
    width: 90%;
    display: block;
    margin: auto;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
}

.warehouse_element__icon div button{
    width: 70%;
    display: block;
    margin: 5% 15%;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
    border: 1px solid rgb(100, 102, 7);
    background-color: rgba(100, 102, 7, 0.685);
    cursor: url(../img/icon_cur/2.cur), auto;
}

#warehouse_element__icon__error{
    width: 80%;
    border: 3px solid rgb(255, 94, 0);
    background-color: rgba(255, 94, 1, 0.801);
    position: absolute;
    top: 25%;
    left: 0;
}




@keyframes blacksmith_window__bottom{
    0%{top: 7%;}
    100%{top: 10%;}
}

#blacksmith_window{
    display: none;
    position: absolute;
    height: 80%;
    width: 60%;
    top: 10%;
    left: 20%;
    border: 4px solid rgba(2, 44, 107, 0.664);
    background-color: rgba(1, 70, 97, 0.911);
    z-index: 1;
    animation: blacksmith_window__bottom 0.09s 1;
}

.blacksmith_window__header{
    display: flex;
    justify-items: center;
}

.blacksmith_heading{
    font-family: 'Neucha', cursive;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-top: 1%;
    width: 90%;
}

.blacksmith_close{
    text-align: end;
    width: 10%;
}

.blacksmith_element{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blacksmith_element__arrow{
    width: 10%;
}

#building_element__scroll{
    width: 0px;
    margin: 0px;
    padding: 0;
    border: none;
    transition: 0.5s all;
}

.blacksmith_element__icon{
    width: 90%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.blacksmith_element__icon div{
    width: 150px;
    padding: 10px;
    margin: 0 5px;
    border: 3px solid rgb(10, 30, 66);
    position: relative;
}

.blacksmith_element__icon div p{
    font-size: 20px;
    font-family: 'Pangolin', cursive;
    width: 150px;
    padding: 0;
    margin: 5%;
}

.blacksmith_element__icon div img{
    width: 50%;
    display: block;
    margin: auto;
}

.blacksmith_element__icon div input{
    width: 90%;
    display: block;
    margin: auto;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
}

.blacksmith_element__icon div button{
    width: 80%;
    display: block;
    margin: 5% 10%;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
    border: 1px solid rgb(7, 56, 102);
    background-color: rgba(9, 92, 139, 0.685);
    cursor: url(../img/icon_cur/2.cur), auto;
}

#blacksmith_element__icon__error{
    width: 80%;
    border: 3px solid rgb(255, 94, 0);
    background-color: rgba(255, 94, 1, 0.801);
    position: absolute;
    top: 25%;
    left: 0;
}





@keyframes blacksmith_window__bottom{
    0%{top: 7%;}
    100%{top: 10%;}
}

#town_hall_window{
    display: none;
    position: absolute;
    height: 80%;
    width: 60%;
    top: 10%;
    left: 20%;
    border: 4px solid rgba(20, 107, 2, 0.664);
    background-color: rgba(34, 105, 19, 0.664);
    z-index: 1;
    animation: blacksmith_window__bottom 0.09s 1;
}

.town_hall_window__header{
    display: flex;
    justify-items: center;
}

.town_hall_heading{
    font-family: 'Neucha', cursive;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-top: 1%;
    width: 90%;
}

.town_hall_close{
    text-align: end;
    width: 10%;
}

.town_hall_element{
    display: flex;
    justify-content: center;
    align-items: center;
}

.town_hall_element__arrow{
    width: 10%;
}

.icon_content{
    width: 105%;
    margin-top: 2.5%;
}

.town_hall_element__icon div{
    width: 100%;
    padding: 10px;
    margin: 0 5px;
}

.town_hall_element__icon div p{
    font-size: 20px;
    font-family: 'Pangolin', cursive;
    width: 150px;
    padding: 0;
    margin: 1%;
}

.town_hall_element__arrow_infastr, .town_hall_element__arrow_messeg{
    width: 10%;
    display: block;
    margin: auto;
}

.town_hall_element__icon div input{
    width: 90%;
    display: block;
    margin: auto;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
}

.town_hall_element__icon div button{
    width: 80%;
    display: block;
    margin: 5% 10%;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
    border: 1px solid rgb(7, 56, 102);
    background-color: rgba(9, 92, 139, 0.685);
}

#town_hall_element__icon__error{
    width: 80%;
    border: 3px solid rgb(255, 94, 0);
    background-color: rgba(255, 94, 1, 0.801);
    position: absolute;
    top: 25%;
    left: 0;
}

.town_hall_element_infastr{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.town_hall_element_messeg{
    width: 80%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#town_hall_element__scroll__infastr{
    width: 0;
    margin: 0;
    padding: 0;
    border: none;
    transition: 0.5s all;
}

/*Вкладки*/
#tabs #icon1, #icon2{
    display: inline-block;
    width: 18%;
    position: relative;
    z-index: 5;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
    cursor: url(../img/icon_cur/1.cur), auto;
}

#tabs .whiteborder{
    border: 1px solid rgb(94, 233, 180);
    border-bottom: 1px solid rgb(94, 233, 180);
    border-radius: 3px 3px 0  0;

}

#tabs .icon_content {
    width: 90%;
    border: 1px solid rgb(94, 233, 180);
    position: relative;
    top: -1px;
    z-index:1;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    display: flex;
    
}

#tabs .hide {
    display: none;
}
#tabs .show {
    display: flex;
}

.town_hall_element_infastr__block img{
   width: 50%;
   margin-left: 25%;
}

.town_hall_element_infastr__block button{
    cursor: url(../img/icon_cur/3.cur), auto;
}

.town_hall_element_infastr__block{
    border: 4px solid rgb(14, 75, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.town_hall_element__people{
    position: relative;
}

.town_hall_element__people .town_hall_element__people__full{
    position: absolute;
    left: 60%;
    display: flex;
    flex-direction: row;
}

.town_hall_element__people .town_hall_element__people__full img{
    width: 90%;
    margin: 0;
    padding: 0;
}
#town_hall_element__icon__error{
    width: 20%;
    border: 3px solid rgb(255, 94, 0);
    background-color: rgba(255, 94, 1, 0.801);
    position: absolute;
    top: 25%;
    left: 38%;
}

.town_hall_element_messeg div{
    margin: 0;
    padding: 0;
    width: 30%;
    border: 4px solid rgb(14, 75, 2);
}

.town_hall_element_messeg p{
    text-align: center;
}

.town_hall_element_messeg img{
    margin: 0;
    padding: 0;
    width: 60%;
    margin-left: 20%;
}

.town_hall_element_messeg button{
    cursor: url(../img/icon_cur/2.cur), auto;
}




@keyframes house_window__bottom{
    0%{top: 7%;}
    100%{top: 10%;}
}

#house_window{
    display: none;
    position: absolute;
    height: 70%;
    width: 60%;
    top: 15%;
    left: 20%;
    border: 3px solid rgb(46, 2, 82);
    background-color: rgba(59, 7, 102, 0.685);
    z-index: 1;
    animation: house_window__bottom 0.09s 1;
}

.house_window__header{
    display: flex;
    justify-items: center;
}

.house_heading{
    font-family: 'Neucha', cursive;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-top: 1%;
    width: 90%;
}

.house_close{
    text-align: end;
    width: 10%;
}

.house_element{
    display: flex;
    justify-content: center;
    align-items: center;
}

.house_element__arrow{
    width: 10%;
}

#house_element__scroll{
    width: 0px;
    margin: 0px;
    padding: 0;
    border: none;
    transition: 0.5s all;
}

.house_element__icon{
    width: 90%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.house_element__icon div{
    width: 150px;
    padding: 10px;
    margin: 0 5px;
    border: 3px solid rgb(0, 0, 0);
    position: relative;
}

.house_element__icon div p{
    font-size: 20px;
    font-family: 'Pangolin', cursive;
    width: 150px;
    padding: 0;
    margin: 5%;
}

.house_element__icon div img{
    width: 80%;
    display: block;
    margin: auto;
}

.house_element__icon div input{
    width: 90%;
    display: block;
    margin: auto;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
}

.house_element__icon div button{
    width: 70%;
    display: block;
    margin: 5% 15%;
    font-size: 20px;
    color: #090014;
    font-family: 'Pangolin', cursive;
    border: 1px solid rgb(30, 2, 53);
    background-color: rgba(52, 28, 71, 0.699);
    cursor: url(../img/icon_cur/2.cur), auto;
}

#house_element__icon__error{
    width: 80%;
    text-align: center;
    border: 3px solid #ff0000;
    background-color: rgba(255, 1, 1, 0.438);
    position: absolute;
    top: 35%;
    left: 0;
}

#house_element__icon__error p{
    
    padding: 0%;
    margin: 0%;
}





@keyframes score_window__bottom{
    0%{top: 7%;}
    100%{top: 10%;}
}

#score_window{
    display: none;
    position: absolute;
    height: 60%;
    width: 60%;
    top: 15%;
    left: 20%;
    border: 4px solid rgb(10, 65, 65);
    background-color: rgba(13, 111, 124, 0.918);
    z-index: 1;
    animation: score_window__bottom 0.09s 1;
}

.score_window__header{
    display: flex;
    justify-items: center;
}

.score_heading{
    font-family: 'Neucha', cursive;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-top: 1%;
    width: 90%;
}

.score_close{
    text-align: end;
    width: 10%;
}

.score_element{
    display: flex;
    justify-content: center;
    align-items: center;
}

.score_element__arrow{
    width: 10%;
}

#score_element__scroll{
    width: 0px;
    margin: 0px;
    padding: 0;
    border: none;
    transition: 0.5s all;
}

.score_element__icon{
    width: 90%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.score_element__icon div{
    width: 150px;
    padding: 10px;
    margin: 0 5px;
    border: 3px solid rgb(66, 51, 10);
    position: relative;
}

.score_element__icon div p{
    font-size: 20px;
    font-family: 'Pangolin', cursive;
    width: 150px;
    padding: 0;
    margin: 5%;
}

.score_element__icon div img{
    width: 50%;
    display: block;
    margin: auto;
}

.score_element__icon div input{
    width: 90%;
    display: block;
    margin: auto;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
}

.score_element__icon div button{
    width: 70%;
    display: block;
    margin: 5% 15%;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
    border: 1px solid rgb(7, 102, 23);
    background-color: rgba(7, 102, 86, 0.685);
}

#score_element__icon__error{
    width: 80%;
    border: 3px solid rgb(255, 94, 0);
    background-color: rgba(255, 94, 1, 0.801);
    position: absolute;
    top: 25%;
    left: 0;
}


.parent{
    width: 50%;
    height: 70%;
    margin: auto;
    padding-top: 12%;
}

.children_1, .children_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.children_1 img, .children_2 img{
    display: block;
    width: 10%;
    height: auto;
}

.building_blok img{
    display: block;
    width: 90%;
    margin-left: 15%;
}


.minerals{
    position: relative;
}

.minerals img{
    text-align: center;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
}

.science{
    position: relative;
}

.science img{
    text-align: center;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
}