@media (max-width: 1200px) {
  .header_game__resources {
    font-size: 25px;
  }

  .menu_element__title {
    font-size: 30px;
  }

  .settings_element__title {
    font-size: 30px;
  }

  .eris_element__message {
    font-size: 15px
  }

  .widow_heading {
    font-size: 40px;
  }

  .blacksmith_heading {
    font-size: 40px;
  }

  .house_heading {
    font-size: 40px;
  }

  .town_hall_heading {
    font-size: 40px;
  }

  .score_heading {
    font-size: 40px;
  }

  .town_hall_element__icon div input, .town_hall_element__icon div button {
    font-size: 15px;
  }

  #tabs #icon1, #icon2 {
    font-size: 15px;
  }

  #mineral_name {
    font-size: 20px;
  }

  #mineral_name__button {
    font-size: 20px;
  }

  .warehouse_element__icon div input {
    font-size: 15px;
  }

  .warehouse_element__icon div p {
    font-size: 15px;
  }

  .blacksmith_element__icon div p {
    font-size: 15px;
  }

  .town_hall_element__icon div p {
    font-size: 15px;
  }

  .house_element__icon div p {
    font-size: 15px;
  }

  .score_element__icon div p {
    font-size: 15px;
  }

  .house_element__icon div input, .house_element__icon div button {
    font-size: 15px;
  }

  .score_element__icon div p {
    font-size: 15px;
  }

  .score_element__icon div input, .score_element__icon div button {
    font-size: 15px;
  }

  .score_element__icon div input,  .score_element__icon div button {
    font-size: 15px;
  }
}
